
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 5vmin;

}
input{
border:none;
width:92%;
}

button{
    border:none;
    background-color:transparent;
    cursor:pointer;
}

.input{
    border:1px solid black;
    width:80vmin;
    margin-bottom: 10vmin;
}

.margin{
    margin: 5vmin 0 5vmin 0
}